@font-face {
    font-family: 'inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url(../fonts/inconsolata.woff2) format('woff2'),
        url(../fonts/inconsolata.woff) format('woff');
}

@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url(../fonts/playfairdisplay-regular.woff2) format('woff2'),
        url(../fonts/playfairdisplay-regular.woff) format('woff');
}

@font-face {
    font-family: 'ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url(../fonts/ubuntu-light.woff2) format('woff2'),
        url(../fonts/ubuntu-light.woff) format('woff');
}

/*Общие стили*/

body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'playfair', serif;
    color: #626262;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #b4ad9e;
}

a:hover {
    color: #898377;
}

/*Шапка*/

.header .navbar-light {
    padding: 0;
    background-color: #fff;
}

.header .navbar-brand {
    font-family: 'inconsolata', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.header .nav-item {
    margin-left: 80px;
    text-transform: uppercase;
}

.header .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    transform: scale(0);
    transition: all .3s;
}

.header .nav-item .nav-link:hover::after {
 transform: scale(1);
}

/* Слайдер*/

.section-carusel {
    margin-bottom: 60px;
}

/*Посты*/

.section-grid-post {
    margin: 20px 0 50px 0;
}

.section-grid-post .card {
    margin: 0 auto 100px auto;
    max-width: 488px;
    border: transparent;
}

.section-grid-post .card-body {
    padding-left: 0;
    padding-right: 0;
    max-width: 488px;
}

.section-grid-post .post-category {
    margin: 10px 0 22px 0;
}

.section-grid-post .post-title {
    margin-bottom: 30px;
}

.section-grid-post .card-img-top {
    max-width: 488px;
    max-height: 326px;
}

/*Кнопка*/

.load-more {
    padding: 1rem 2rem;
    border-color: #626262;
}

.load-more span {
    display: none;
}

/*Форма*/

.singup {
    background-color: #f0f0f0;
    padding: 70px 0;
}

.singup-title {
    color: #333;
}

.singup .form {
    margin-top: 70px;
}

.singup .form-input {
    position: relative;
}

.singup .form-control {
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
}

.singup .form-control:focus {
    box-shadow: none;
}

.singup .btn {
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 25px;
}

/*Подвал*/

.footer {
    padding: 40px 0;
    background-color: #f0f0f0;
    color: #000;
}

.footer-right-item:not(:last-child) {
    margin-right: 18px;
}

.footer-icon-fb {
    background: url(../img/facebook.png) center center no-repeat transparent;
    background-position: auto 100%;
    width: 8px;
    height: 14px;
}

.footer-icon-tw {
    background: url(../img/twitter.png) center center no-repeat transparent;
    background-position: auto 100%;
    width: 18px;
    height: 13px;
}

.footer-icon-insta {
    background: url(../img/instagram.png) center center no-repeat transparent;
    background-position: auto 100%;
    width: 15px;
    height: 15px;
}

.footer-list {
    margin-left: 22px;
    margin-bottom: 0;
}

.footer-left-link{
    color: #000;
}

.footer-left-link:not(:last-child) {
    margin-right: 35px;
}

/*Медиазапросы*/
@media only screen and (max-width: 991px){
    .header .nav-item {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 767px){
    .section-grid-post .card {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 575px){
    .footer-left {
        margin-bottom: 20px;
    }
}
